<template>
    <v-card>
        <v-card-title class="text-h5">
            {{ formTitle }}
        </v-card-title>
        <v-card-text class="px-6">
            <form  @submit.prevent="manageEmployee">
                <v-alert
                    dense
                    text
                    type="error"
                    v-if="errors && errors.length"
                >
                    <p 
                        v-for="(error, index) in errors" 
                        :key="index" 
                        class="font-weight-regular error-text"
                    >
                        {{ error }}
                    </p>
                </v-alert>
                <v-row>
                    <v-col lg="6">
                        <v-text-field 
                            v-model="form.firstName" 
                            label="Primer Nombre" 
                            required
                            :rules="[
                                () => !!form.firstName || 'Este campo es requerido',
                                () => !!form.firstName && form.firstName.length <= 200 || 'Longitud maxima 200 caracteres',
                            ]"
                            counter="200"
                            style="margin-bottom: -30px;"
                        ></v-text-field>
                    </v-col>
                    <v-col lg="6">
                        <v-text-field 
                            v-model="form.secondName" 
                            label="Segundo Nombre" 
                            required
                            :rules="[
                                () => !!form.secondName || 'Este campo es requerido',
                                () => !!form.secondName && form.secondName.length <= 200 || 'Longitud maxima 200 caracteres',
                            ]"
                            counter="200"
                            style="margin-bottom: -30px;"
                        ></v-text-field>
                    </v-col>
                    <v-col lg="6">
                        <v-text-field 
                            v-model="form.lastName" 
                            label="Primer Apellido" 
                            required
                            style="margin-bottom: -30px;"
                            :rules="[
                                () => !!form.lastName || 'Este campo es requerido',
                                () => !!form.lastName && form.lastName.length <= 200 || 'Longitud maxima 200 caracteres',
                            ]"
                            counter="200"
                        ></v-text-field>
                    </v-col>
                    <v-col lg="6">
                        <v-text-field 
                            v-model="form.otherName" 
                            label="Segundo Apellido" 
                            required
                            :rules="[
                                () => form.otherName.length <= 200 || 'Longitud maxima 200 caracteres',
                            ]"
                            counter="200"
                            style="margin-bottom: -30px;"
                        ></v-text-field>
                    </v-col>
                    <v-col lg="6">
                        <v-select 
                            v-model="form.country" 
                            :items="countries" 
                            label="Pais" 
                            :item-text="'name'"
                            :item-value="'_id'" 
                            required 
                            :rules="[
                                () => !!form.country || 'Este campo es requerido',
                            ]"
                            style="margin-bottom: -30px;"
                        >
                        </v-select>
                    </v-col>
                    <v-col lg="6">
                        <v-select 
                            v-model="form.documentType" 
                            :items="documents" 
                            label="Tipo de documento"
                            :item-text="'name'" 
                            :item-value="'_id'" 
                            required 
                            :rules="[
                                () => !!form.documentType || 'Este campo es requerido',
                            ]"
                            style="margin-bottom: -30px;"
                        >
                        </v-select>
                    </v-col>
                    <v-col lg="6">
                        <v-text-field 
                            v-model="form.documentNumber" 
                            label="Número de Documento" 
                            required
                            :rules="[
                                () => !!form.documentNumber || 'Este campo es requerido',
                                () => !!form.documentNumber && form.documentNumber.length <= 200 || 'Longitud maxima 200 caracteres',
                            ]"
                            counter="200"
                            style="margin-bottom: -30px;"
                        ></v-text-field>
                    </v-col>
                    <v-col>
                        <v-menu 
                            v-model="menu" 
                            :close-on-content-click="false" 
                            :nudge-right="40"
                            transition="scale-transition" 
                            offset-y 
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field 
                                    v-model="form.incomeDate" 
                                    label="Fecha de Ingreso" 
                                    prepend-icon="mdi-calendar"
                                    readonly 
                                    v-bind="attrs" 
                                    v-on="on"
                                    :disabled="employee && employee.length"
                                >
                                </v-text-field>
                            </template>
                            <v-date-picker :readonly="employee && employee.length" v-model="form.incomeDate" @input="menu = false"></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col lg="12">
                        <v-select 
                            v-model="form.area" 
                            :items="areas" 
                            label="Area de Trabajo" 
                            :item-text="'name'"
                            :item-value="'_id'" 
                            required 
                            style="margin-top: -30px;"
                        >
                        </v-select>
                    </v-col>
                </v-row>
            </form>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="close()">
                Cerrar
            </v-btn>

            <v-btn 
                color="green darken-1" 
                text 
                @click="manageEmployee()" 
                :loading="loading"
                :disabled="loading 
                            || !form.firstName 
                            || !form.secondName 
                            || !form.lastName 
                            || !form.country 
                            || !form.documentType 
                            || !form.documentNumber 
                            || !form.area 
                            || !form.incomeDate"
                type="submit"
            >
                Guardar
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
import baseURL from '../api/employees';
import * as moment from 'moment';

export default {
    name: 'DialogManageEmployee',
    props: {
        employee: Object,
        formTitle: String,
        loading: Boolean,
        errors: Array
    },
    created() {
        this.getCountries();
        this.getDocumentsTypes();
        this.getAreas();
    },
    mounted() {
        if (this.employee && this.employee.id) {
            const { firstName, secondName, lastName, otherName, countryId, documentTypeId, documentNumber, incomeDate, areaId } = this.employee;
            this.form = {
                firstName,
                secondName,
                lastName,
                otherName,
                country: countryId,
                documentType: documentTypeId,
                documentNumber,
                incomeDate: moment(incomeDate).format("YYYY-MM-DD"),
                area: areaId
            }
        }

    },
    data() {
        return {
            countries: [],
            documents: [],
            areas: [],
            form: {
                firstName: '',
                secondName: '',
                lastName: '',
                otherName: '',
                country: '',
                documentType: '',
                documentNumber: '',
                incomeDate: moment().format("YYYY-MM-DD"),
                area: ''
            },
            menu: false,
            title: this.formTitle
        }
    },
    methods: {
        close() {
            this.$emit('close_dialog');
        },
        async getCountries() {
            const { data } = await baseURL.get(`/countries`);
            this.countries = data;
        },
        async getDocumentsTypes() {
            const { data } = await baseURL.get(`/documents`);
            this.documents = data;
        },
        async getAreas() {
            const { data } = await baseURL.get(`/areas`);
            this.areas = data;
        },
        manageEmployee() {
            this.$emit('manageEmployee', this.form);
        }
    }
}
</script>
<style scoped>
    .error-text{
        margin-bottom: 0px !important;
        font-size: 14px;
    }
</style>