<template>
  <v-container fluid mt-8 px-8>
    <v-row>
      <v-col lg="2">
        <Header class="mb-2" title="Cidenet Empleados" />
      </v-col>
      <v-col lg="10">
        <v-btn color="success" @click="createEmployee()">
          Nuevo empleado
        </v-btn>
      </v-col>
    </v-row>

      <v-col lg="4">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar empleado"
          single-line
          hide-details
          solo
          clearable
          style="margin-left: -12px"
        ></v-text-field>
      </v-col>

    <v-data-table
      :headers="headers"
      :items="items"
      :loading="loading"
      :items-per-page="itemsPerPage"
      loading-text="Obteniendo empleados..."
      class="elevation-1"
      :search="search"
      hide-default-footer
      :page.sync="page"
      @page-count="pageCount = $event"
    >
      <template v-slot:[`item.state`]="{ item }">
        <v-chip 
          color="green" 
          text-color="white"
        >
          {{ item.state }}
        </v-chip>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon class="mr-2" @click="editEmployee(item)">
          mdi-pencil-outline
        </v-icon>
        <v-icon class="mr-2" @click="deleteEmployee(item)">
          mdi-delete-outline
        </v-icon>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="pageCount"
      ></v-pagination>
    </div>
    
    <v-dialog 
      v-model="dialog" 
      max-width="700px"
      v-if="dialog"
    >
      <DialogManageEmployee 
        :employee="editEmployeeId"
        :formTitle="formTitle"
        :loading="loading"
        :errors="errors"
        v-on:close_dialog="close_dialog"
        v-on:manageEmployee="manageEmployee"
      />
    </v-dialog>
    
  </v-container>
</template>
  
<script> 
import Header from '../../components/Header.vue'
import baseURL from '../../api/employees';
import DialogManageEmployee from '../../components/DialogEmpleado.vue';
import * as moment from 'moment';

  export default {
    name: 'EmployeesList',
    components:{
      Header,
      DialogManageEmployee,
    },
    mounted() {
      this.getEmployees();
    },
    data: () => ({
      loading: false,
      items: [],
      editEmployeeId: null,
      dialog: false,
      errors: [],
      search: '',
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
    }),
    methods:{
      async getEmployees() {
        this.loading = true;
        try {
          const { data } = await baseURL.get(`/employees`);
          this.items = data.map((employee) => {
            return {
              id: employee._id,
              firstName: employee.firstName,
              secondName: employee.secondName,
              lastName: employee.lastName,
              otherName: employee.otherName,
              documentType: employee.documentType.name,
              documentTypeId: employee.documentType._id,
              documentNumber: employee.documentNumber,
              country: employee.country.name,
              countryId: employee.country._id,
              area: employee.area.name,
              areaId: employee.area._id,
              email: employee.email,
              incomeDate: employee.incomeDate,
              incomeDateFormated: moment(employee.incomeDate).format("DD/MM/YYYY"),
              state: employee.state ? 'Activo' : 'Inactivo',
            }
          });
        } catch (error) {
          this.$swal('Lo sentimos!', 'Ocurrió un error al consultar los empleados', 'error')
        }
        this.loading = false;
      },
      editEmployee (employee) {
        this.editEmployeeId = employee;
        this.dialog = true;
      },
      createEmployee () {
        this.dialog = true;
        this.editEmployeeId = null;
        this.errors = [];
      },
      async manageEmployee( employee ) {
        this.loading = true;
        try {
          const data = employee;
          if(this.editEmployeeId){
            const res = await baseURL.patch(`/employees/${this.editEmployeeId.id}`,data);
            if(res.data) {
              this.$swal('Editado!', 'Empleado editado con exito', 'success');
            }
          }else{
            const res = await baseURL.post(`/employees`,data);
            if(res.data) {
              this.$swal('Creado!', 'Empleado creado con exito', 'success');
            }
          }
          await this.getEmployees();
          this.close_dialog();
          this.errors = [];

        } catch (error) {
          this.$swal('Lo sentimos!', 'Ocurrió un error al gestionar el empleado', 'error');
          if(error.response){
            const message = error.response.data.message;
            if(typeof message === "string"){
              this.errors = [message];
            }else{
              this.errors = message;
            }
          }          
        }
        this.loading = false;
      },
      deleteEmployee(employee) {
        this.$swal({
          title: 'Está seguro de que desea eliminar el empleado? ',
          showCancelButton: true,
          cancelButtonText: `No`,
          confirmButtonText: 'Si, eliminar',
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {
            baseURL.delete(`/employees/${employee.id}`,).then(() => {
              this.$swal('Eliminado!', 'Empleado eliminado con exito', 'success')
              this.getEmployees();
            }).catch(error => {
              if( error.response ) {
                this.$swal('Lo sentimos!', error.response.data.message, 'error')
              }else{
                this.$swal('Lo sentimos!', 'Ocurrió un error al eliminar el empleado', 'error')
              }
            })
            
          } 
        });
      },
      close_dialog(){
        this.dialog = false;
        this.editEmployeeId = null;
        this.errors = [];
      }
    },
    computed: {
      headers () {
        return [
          {
            text: 'Primer nombre',
            align: 'left',
            sortable: true,
            value: 'firstName'
          },
          {
            text: 'Segundo nombre',
            align: 'left',
            sortable: true,
            value: 'secondName'
          },
          {
            text: 'Primer apellido',
            align: 'left',
            sortable: true,
            value: 'lastName'
          },
          {
            text: 'Primer apellido',
            align: 'left',
            sortable: true,
            value: 'otherName'
          },
          { text: 'Tipo de documento', align: 'left', value: 'documentType' },
          {
            text: 'Número de documento',
            align: 'left',
            sortable: false,
            value: 'documentNumber'
          },
          { text: 'Pais', align: 'left', value: 'country' },
          {
            text: 'Correo electrónico',
            align: 'left',
            sortable: false,
            value: 'email'
          },
          { text: 'Fecha de Ingreso', align: 'left', value: 'incomeDateFormated' },
          { text: 'Estado', align: 'left',value: 'state'},
          { text: 'Acciones', value: 'actions', sortable: false, width: '100' },
        ]
      },
      formTitle () {
        return this.editEmployeeId ? 'Editar empleado' : 'Crear empleado'
      },
    },
  };
  </script>
  