<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
  #app{
    background: #F5F6FA;
  }
  .swal2-popup{
    font-family: 'Roboto', sans-serif !important;
  }
</style>
